* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.watch {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  width: 500px;
}